
<div class="container-fluid px-4">
  <h1 class="mt-4">AI 모델 정보</h1>
  <hr>
</div>

<div class="container-fluid px-4">
  <div class="card mb-4">
      <div class="card-body">
          서비스 제공중에 생성된 모델 정보를 확인 및 관리할 수 있다.<br>
          테스트 모델을 선정할 수 있다.
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <!-- 왼쪽 패널: 모델 목록 -->
      <div class="col-md-4">
          <!-- 왼쪽 패널: 모델 목록 -->
          <div class="list-group">
              <!-- 모델 목록 항목 -->
              <% models.forEach(function(model, index) { %>
                  <a href="/AI/detail/<%= currentPage %>/<%= model.model_id %><%= (target && keyword) ? `?target=${target}&keyword=${keyword}` : '' %>" 
                     class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center">
                          <span class="badge bg-primary me-2"><%= index + 1 %></span>
                          <span class="<%= (model.model_name === selectedModel) ? 'highlight' : '' %>"><%= model.model_name %></span>
                      </div>
                  </a>
              <% }); %>
          </div>
      <div>
        <form action="/ai/management/1" method="get" class="form-inline search-form justify-content-end">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control form-control-sm" name="target">
                        <option value="model_name" selected>모델 이름</option>
                        <option value="model_type">모델 유형</option>
                    </select>
                </div>
                <span class="d-none" id="searchFormLabel">Keyword search form input</span>
                <input type="text" class="form-control form-control-sm" name="keyword" aria-labelledby="searchFormLabel">
                <div class="input-group-append">
                    <button class="btn btn-arca btn-sm" type="submit">검색</button>
                </div>
            </div>
        </form>
    </div>
        <!-- 페이징 코드 -->
<ul class="pagination justify-content-center">
<% if (currentPage > 3 && totalPages>4) { %>
    <li class="page-item">
        <a class="page-link" href="<%= `/ai/detail/1/${modelId}${(target && keyword) ? `?target=${target}&keyword=${keyword}` : ''}` %>" title="최신글 보기">&lt;&lt;</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="<%= `/ai/detail/${Number(currentPage)-5}/${modelId}${(target && keyword) ? `?target=${target}&keyword=${keyword}` : ''}` %>">&lt;</a>
    </li>
<% } %>
<% if (totalPages>5){
    var page = Math.min(Math.max(1,Number(currentPage)-2),Number(totalPages)-4)
}
else{
    var page = 1
}
for (var i = 0; i < 5 && page <= totalPages; i++, page++) {
    %>
    <li class="<%= (Number(currentPage) === page) ? 'page-item active' : 'page-item' %> ">
        <a class="page-link" href="<%= `/ai/detail/${page}/${modelId}${(target && keyword) ? `?target=${target}&keyword=${keyword}` : ''}` %>">
            <%= page %>
        </a>
    </li>
<% } %>

<% if (currentPage < totalPages && totalPages > 5) { %>
    <li class="page-item">
        <a class="page-link" href="<%= `/ai/detail/${Math.min(Number(currentPage)+5, totalPages)}/${modelId}${(target && keyword) ? `?target=${target}&keyword=${keyword}` : ''}` %>">&gt;</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="<%= `/ai/detail/${totalPages}/${modelId}${(target && keyword) ? `?target=${target}&keyword=${keyword}` : ''}` %>" title="첫 글 보기">&gt;&gt;</a>
    </li>
<% } %>
</ul>
    </div>

    <!-- 오른쪽 패널: 모델 정보 -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">모델 정보</h2>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">모델 ID</th>
                <td><%= model.model_id %></td>
              </tr>
              <tr>
                <th scope="row">모델 이름</th>
                <td><%= model.model_name %></td>
              </tr>
              <tr>
                <th scope="row">모델 유형</th>
                <td><%= model.model_type %></td>
              </tr>
              <tr>
                <th scope="row">옵티마이저</th>
                <td><%= model.optimizer %></td>
              </tr>
              <tr>
                <th scope="row">배치 크기</th>
                <td><%= model.batch_size %></td>
              </tr>
              <tr>
                <th scope="row">에폭</th>
                <td><%= model.epoch %></td>
              </tr>
              <tr>
                <th scope="row">정확도</th>
                <td><%= model.accuracy %></td>
              </tr>
              <tr>
                <th scope="row">F1 점수</th>
                <td><%= model.f1score %></td>
              </tr>
              <tr>
                <th scope="row">생성 시간</th>
                <td><%= model.created_time %></td>
              </tr>
              <tr>
                <th scope="row">ROC Curve</th>
                <td><img src="/models/<%= model.model_name %>/roc_curve.png" alt="ROC Curve" width="200"></td>
              </tr>
            </tbody>
          </table>
          <div style="display: flex; justify-content: space-between;">
            <div>
              <form action="/ai/select/<%= currentPage + '/' + model.model_id %>" method="POST">
                <button type="submit" class="btn btn-primary">이미지 분류 모델 선택</button>
              </form>
            </div>
            <div>
              <form action="/ai/model_delete/<%= model.model_id %>" method="post">
                <button type="submit" class="btn btn-danger"onclick='if(confirm("정말로 삭제하시겠습니까?")){ location.href="/ai/model_delete/<%= model.model_id %>" }'>모델 삭제</button>
              </form>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .highlight {
      color: red; /* 강조할 글씨 색 지정 */
      font-weight: bold; /* 글씨 두껍게 */
  }
</style>
